{{$page := .root}}
{{$title := .page.Title}}
{{$content := .page.Content}}
{{$params := .page.Params.ab_hero}}

<div class="ab-hero">
  <div class="ab-hero-wrapper">
    <h2 class="ab-hero-title">{{$title | markdownify | emojify | safeHTML}}</h2>
    <div class="ab-hero-content">{{$content | markdownify | emojify | safeHTML}}</div>

    {{if $params.cta }}
    <div class="ab-hero-actions">
      <!-- cta button -->
      <div class="ab-hero-cta">
        <div id="btn_download_sys" class="ab-hero-cta-button clickable">
          <i class="fab fa-github mr-1"></i>
          <span>{{ i18n "get_alphabiz" }}</span>
        </div>
        <div class="ab-hero-cta-more">
          <i class="fas fa-caret-down" aria-hidden="true"></i>
          <div class="ab-hero-cta-menu">
            <div id="btn_download_win" class="ab-hero-cta-button clickable">
              <i class="fab fa-windows mr-1"></i>
              <span>{{ i18n "win" }}</span>
            </div>
            <div id="btn_download_mac" class="ab-hero-cta-button clickable">
              <i class="fab fa-apple mr-1"></i>
              <span>{{ i18n "mac" }}</span>
            </div>
            <div id="btn_download_linux" class="ab-hero-cta-button clickable">
              <i class="fab fa-linux mr-1"></i>
              <span>{{ i18n "linux" }}</span>
            </div>
            <div id="btn_download_github" class="ab-hero-cta-button clickable">
              <i class="fab fa-github mr-1"></i>
              <span>{{ i18n "all_releases" }}</span>
            </div>
          </div>
        </div>
      </div>



      <!-- cta alt -->
      {{if and $params.cta.alt_url $params.cta.alt_label}}
      {{$attrs := partial "functions/get_a_attrs_parsed" $params.cta.alt_url}}
      <a class="ab-hero-cta-alt" {{$attrs | safeHTMLAttr}}>{{$params.cta.alt_label | markdownify | emojify | safeHTML}}<i class="fas fa-angle-right ml-1"></i></a>
      {{end}}
    </div>
    {{end}}
  </div>
  <div class="ab-hero-image">
    {{$image := partial "functions/get_media_image" $params.hero_image}}
    <img src="{{ $image.RelPermalink }}" alt="{{.}}">
  </div>
</div>
