.wg-ab-hero {
  display: flex;
  align-items: center;
}

body {
  // desktop
  @include media-breakpoint-up(md) {
    .wg-ab-hero {
      // navbar height: 70px
      min-height: 768px;
      height: auto;
      max-height: calc(100vh - 70px - 3rem);
    }
  }
  // mobile
  @include media-breakpoint-down(md) {
    .wg-ab-hero {
      //height: calc(100vh - 50px - 3rem);
    }
  }
}

.wg-ab-hero .home-section-bg {
  overflow: hidden;
  //background-color: black;
  //&::after {
  //  content: '';
  //  display: block;
  //  width: 100vw;
  //  height: 100%;
  //  box-shadow: 0 0 15vh 3vh rgba(0, 0, 0, 0.8) inset;
  //  position: absolute;
  //  z-index: 0;
  //}
  //filter: brightness(0.6);
  //-webkit-filter: brightness(0.6);
}

.ab-hero {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;

  .ab-hero-wrapper, .ab-hero-image {
    padding: 0 8px;
    flex: 1;
  }
}

.ab-hero-wrapper {
  display: flex;
  flex-direction: column;

  .ab-hero-title {
    font-size: 2.2rem;
    //font-size: 3.6rem;
    font-weight: bolder;
  }

  .ab-hero-content {
    opacity: 0.8;
    font-size: 0.8rem;
    line-height: 2;
  }

  .ab-hero-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.ab-hero-image {
  //outline: 16px solid red;
  display: flex;
  align-items: center;

  img {
    margin-top: 1rem;
    border-radius: 4px;
    overflow: hidden;
  }
}

.ab-hero-cta-alt {
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: baseline !important;
  margin: 1rem 1.5rem;
}

.ab-hero-cta-button {
  padding: 0.25rem 1.5rem;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
  line-height: 2;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;

  // override <a> style
  color: black !important;
  text-decoration: none !important;
}

#btn_download_sys,
#btn_download_win,
#btn_download_mac,
#btn_download_linux,
.ab-hero-cta-more {
  @extend .ab-hero-cta-button;
}

#btn_download_sys,
#btn_download_win,
#btn_download_mac,
#btn_download_linux {
  &:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
  }
}

.ab-hero-cta {
  width: 280px;
  display: flex;
  align-items: stretch;

  #btn_download_sys {
    border-radius: 4px 0 0 4px;
    padding: 0.25rem 0.75rem 0.25rem 1.5rem;
    flex-grow: 1;
  }

  .ab-hero-cta-more {
    border-radius: 0 4px 4px 0;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;

    &:hover {
      .ab-hero-cta-menu {
        display: block;
      }
    }

    .ab-hero-cta-menu {
      display: none;
      border-radius: 4px;
      overflow: hidden;
      position: absolute;
      top: calc(100% + 1px);
      right: 0;
      box-shadow: 0 0 4px 0 rgba(0,0,0, 0.4);

      #btn_download_win,
      #btn_download_mac,
      #btn_download_linux {
        i {
          font-size: 1rem;
        }
        width: 280px;
        font-weight: normal;
        font-size: 0.9rem;
      }
    }
  }
}

// for mobile
body {
  @include media-breakpoint-down(md) {
    .ab-hero {
      flex-direction: column;
    }
    .ab-hero-wrapper, .ab-hero-image {
      padding: 0 !important;
    }

    .ab-hero-image > img {
      margin: 0 !important;
    }

    .ab-hero-title, .ab-hero-content {
      text-align: center;
      align-items: center;
    }

    .ab-hero-actions {
      flex-direction: column !important;
      text-align: center;
      align-items: center;
    }
  }
}

// color
.ab-hero-cta-button {
  background-color: var(--primary-color);
}

.ab-hero-cta-alt {
  color: var(--primary-color);
}
