{{/* Override this file to add a custom footer to every page. */}}
{{/* This partial is included in `layouts/partials/site_footer.html`. */}}

{{ $contact := site.Params.contact }}
{{ if $contact }}
<div class="cc-footer-links">
  {{ $packs := (dict "email" "fas")}}
  {{ $icons := (dict "email" "envelope") }}
  {{ range $k, $v := $contact }}

  {{ $href := $v }}
  {{ if eq $k "email" }}
    {{ $href = printf "mailto:%s" $v }}
  {{ end }}

  {{ $icon := $k }}
  {{ if isset $icons $k }}
    {{ $icon = index $icons $k }}
  {{ end }}

  {{ $pack := "fab" }}
  {{ if isset $packs $k }}
    {{ $pack = index $packs $k }}
  {{ end }}

  <div>
    <a href="{{ $href }}" target="_blank">
      <i class="{{$pack}} fa-{{$icon}} fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  {{ end }}
</div>
{{ end }}
